# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite

# Secrets
.env

# Virtual environments
.venv/
venv/
ENV/

# Upload folders
static/uploads/*
!static/uploads/.gitkeep
